@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    background-color: #d3d3d3;
    margin: 0;
    padding: 0;
}

.texto-redondeado {
    font-family: 'Roboto', sans-serif;
}

.contenido-header {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100vw;
    z-index: 100;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 30px;
    flex-grow: 2;
}

#logo img {
    border-radius: 25%;
    width: 50px;
    height: 50px;
}

.nav-main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.nav-menu li a:hover {
    color: #1ad5ee;
}

.redes {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    flex-shrink: 0;
}

.redes a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.redes a:hover {
    color: #12ddef;
}

.presentacion-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(imagenes/_22eedba3-5180-4087-a579-cda14da58dc2.jpeg) center center / cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    position: relative;
}

.presentacion {
    max-width: 1100px;
    margin: auto;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.presentacion .bienvenida {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.presentacion h2 {
    font-size: 20px;
    margin-bottom: 25px;
    text-align: left;
}

.presentacion h2 span {
    font-size: 25px;
    color: red;
}

.presentacion .descripcion {
    max-width: 100%;
    margin: 25px 50px;
    font-size: 18px;
    text-align: center;
}

.presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px 0;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
}

.presentacion a:hover {
    background-color: aqua;
}

#icono-nav {
    color: #fff;
    display: none;
    cursor: pointer;
}

/* Estilos para la sección de alojamiento */

#alojamiento {
    padding: 50px 0;
    background-color: #f2f2f2;
    text-align: center;
}

#alojamiento .titulo-seccion {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 28px;
    text-transform: capitalize;
    color: #111135;
}

#alojamiento .fila {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#alojamiento .servicio {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

#alojamiento .servicio:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#alojamiento .servicio h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

#alojamiento .servicio hr {
    width: 50%;
    margin: auto;
    margin-bottom: 15px;
    border-color: #ddd;
}

#alojamiento .servicio p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
}

#alojamiento .servicio .caracteristicas {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

#alojamiento .servicio .caracteristicas li {
    margin-bottom: 8px;
}

#alojamiento .servicio .caracteristicas li i {
    margin-right: 8px;
    color: #5cb85c; /* Verde para características disponibles */
}

#alojamiento .servicio .caracteristicas li .fa-xmark {
    color: #d9534f; /* Rojo para características no disponibles */
}

.btn-contacto {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-contacto:hover {
    background-color: #0056b3;
}

/* Estilos para la sección de conclusión */

#conclusion {
    background-image: url('imagenes/_f27c292f-e342-4251-9b79-cc718d4384c9.jpeg');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    text-align: center;
}

#conclusion .container {
    max-width: 800px;
    margin: 0 auto;
}

#conclusion .contenido {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente blanco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

#conclusion .titulo-seccion {
    font-size: 24px;
    color: #111135;
    text-transform: capitalize;
    margin-bottom: 20px;
}

#conclusion p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}


@media (max-width: 768px) {
    #nav.responsive {
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: calc(100vh - 60px);
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
        margin: 0;
    }

    #nav.responsive ul {
        display: block;
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #nav.responsive ul li {
        margin: 10px 0;
        text-align: left;
    }
}

@media (max-width: 480px) {
    .nav-main {
        display: none;
    }

    #icono-nav {
        display: block;
    }

    .redes {
        display: none;
    }

    .presentacion h2 {
        font-size: 18px;
    }

    .presentacion .descripcion {
        font-size: 16px;
    }

    #alojamiento .servicio {
        width: 100%;
        margin: 10px 0;
    }
}
